{% extends "layout.html" %}

{% block scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css')}}">
{% endblock %}

{% block navbar %}
{% include "partials/_restaurant_navbar.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid position-fixed bg-body-tertiary p-0 d-flex h-100">
    {% include "partials/_restaurant_sidebar.html" %}

    <div class="container overflow-auto w-100 my-4 p-5 pt-2">
        {% block main_pane %}
        {% endblock %}
    </div>
</div>
{% endblock %}